<div class="srcbar">
    <div class="container">
        <form action="/search" class="search-bar" role="search" method="post">

            <input type="search" id="srcinput" name="searchTerm" aria-label="search" placeholder="search the site..">
        </form>
        <div id="srcclose">close</div>
    </div>
</div>